.container {
    max-width: 600px !important;
    direction: rtl;
}

.sigCanvas {
    border: 1px solid black;
    width: 100%;
    /* Make it take full width */
    height: 30vh;
    /* Height is 40% of the viewport height */
}

.text-danger {
    font-size: 11px !important;
}

.text-box {
    width: 80%;
}